@charset "UTF-8";
:root{
    --cor1:#F29F05;
    --cor2:#F27405;
    --cor3:#D93D04;
    --cor4:#730202;
    --cor5:#0D0D0D;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
header{
    padding: 10px;
    background-color: #730202;
    color: white;
}
header>h1{
    font-family: "Honk", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
}
main{
    background-image: linear-gradient(to right, #F29F05, #F27405, #D93D04 );
    display: flex;
    flex-flow: row wrap;
}
main>article{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
section.texto, section.img{
    flex: 1 1 400px;
}
section.texto{
    display: flex;
    flex-flow: column;
    flex: auto;
    width: 50%;
    min-width: 300px;
    text-align: justify;
    padding: 10px;
    justify-content: flex-start;
}
main>article>section.img>img{
    padding: 10px;
    width: 100%;
    flex-direction: ;
}
section.img{
    height: auto;
}
section.img>iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  display: flex;
  flex: auto;
}
main>article#mt{
    display: flex;
    flex-flow: row wrap-reverse;
}